extends layout

block layout-content
  div.View
    h1.Banner Hello World!
    div.Message
      div.Title
        h3 Hello?
        h1 World?
      span.Details Access the Hello World Team Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!